/**{
    border: 1px solid red;
}*/

/*Puxando a fonte de fonts/ para a página*/
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-Regular.ttf);
}

body{
    background-color: rgb(22, 13, 70);
    font-family: Oswald;
    padding-top: 100px;
}

#c1{
    align-items: center;
    display: flex;
    justify-content: center;
}

#c1 a{
    color: rgb(168, 168, 168);
}

#c1 ul{
    display: flex;
    position: relative;
    transform:skewY(-15deg) skewX(45deg);
}

#c1 li{
    height: 3.75rem;
    list-style: none;
    margin: 0 1.25rem;
    position: relative;
    width: 3.75rem;
}

#c1 li:before{
    background-color: #696868;
    bottom: -0.625rem;
    content: "";
    height: 0.625rem;
    left: 0;
    position: absolute;
    transform-origin: top;
    transform: skewX(-45deg);
    width: 100%;
}

#c1 li:after{
    background-color: #2a2a2a;
    content: "";
    height: 100%;
    left: -0.625rem;
    position: absolute;
    top: 0.312rem;
    transform: skewY(-45deg);
    width: 0.625rem;
}

#c1 li span{
    align-items: center;
    background-color: #424141;
    display: flex !important;
    font-size: 1.875rem;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transition: 1s;
    width: 100%;
}

#c1 li:hover span{
    background: var(--cor);
    box-shadow: -0.063rem 0.063rem 0.063rem rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 10;
}

#c1 li:hover span:nth-child(5){
    opacity: 1;
    transform: translate(4vh, -4vh);
}
#c1 li:hover span:nth-child(4){
    opacity: 0.8;
    transform: translate(3vh, -3vh);
}
#c1 li:hover span:nth-child(3){
    opacity: 0.6;
    transform: translate(2vh, -2vh);
}
#c1 li:hover span:nth-child(2){
    opacity: 0.4;
    transform: translate(1vh, -1vh);
}
#c1 li:hover span:nth-child(1){
    opacity: 0.2;
    transform: translate(0, 0);
}

#c2{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 12rem;
}

#c2 a{
    color: rgb(168, 168, 168);
}

#c2 ul{
    position: relative;
    transform: skewY(-15deg);
}

#c2 li{
    background-color: #696868;
    list-style: none;
    padding: 0.938rem;
    position: relative;
    transition: 1s;
    width: 12.5rem;
    z-index: calc(1 * var(--camada));
}

#c2 li:hover{
    background-color: #d32f2f;
    transform: translateX(-3.125rem);
}

#c2 li:before{
    align-items: center;
    background-color: #2a2a2a;
    color: rgb(168, 168, 168);
    content: attr(data-icon);
    display: flex;
    font-family: "FontAwesome";
    height: 100%;
    justify-content: center;
    left: -2.5rem;
    position: absolute;
    top: 0;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1s;
    width: 2.5rem;
}

#c2 li:hover:before{
    background-color: #630707;
}

#c2 li:after{
    background-color: #424141;
    content: "";
    height: 2.5rem;
    left: 0;
    position: absolute;
    top: -2.5rem;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1s;
    width: 100%;
}

#c2 li:hover:after{
    background: #8b3737;
}

#c2 li a{
    display: block;
    letter-spacing: 0.05rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

#c2 li:hover a{
    color: white;
}

#c2 li:last-child:after{
    box-shadow: -7.5rem 7.5rem 0.25rem rgba(0, 0, 0, 0.25)
}

#c3{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.main-container{
    display: grid;
    gap: 1.875rem;
    grid-template-columns: auto 12.5rem 12.5rem 12.5rem auto;
    height: 4.688rem;
    position: relative;
    width: 100%;
    transform: skewY(-15deg);
}

.slider-main-container, .slider-magnifier-container{
    align-items: flex-start;
    color: #424141;
    display: flex;
    font-size: 2.188rem;
    height: 4.688rem;
    position: absolute;
    width: 12.5rem;
}

.slider-magnifier-container{
    font-size: 2.813rem;
    font-weight: 800;
    height: 4.688rem;
    overflow: hidden;
}

.hr {
    grid-column: 2;
}

.mn {
    grid-column: 3;
}

.sc {
    grid-column: 4;
}

.slider-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.slider{
    position: absolute;
    text-align: center;
    width: 4.688rem;
}

.slider-magnifier-container .slider{
    background-color: #696868;
    color: black;
    z-index: 1;
}

.slider-magnifier-container:before .slider:before{
    background-color: #696868;
    color: black;
    z-index: 1;
}

.main-container p{
    display: block;
    line-height: 4.688rem;
    margin: 0;
}